//Vars
$primary: "PT Sans", sans-serif;

$browser-context: 16; // Default

$primary-color: #006db7;
$secondary-color: #1958fa;
$link-color: blue;
$light-primary: hsl(172, 80%, 37%);
$gray: rgba(0, 0, 0, 0.05);
$form-placeholder-border: #f1f4f8;
$admin-bg: rgba(#DBEAFC,0.2);
$heading-green: #13ac97;
//Colors
$black: #000;
$white: #fff;
$red: #ff0000;
$gold: #e1ba00;
$dark-red: #cc153f;
